.main-component{
    background-color: #FAF6F4;

    img{
        width: 25em;
        height: 30em;
    }
}

.custom-shape-divider-bottom-1728033850 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1728033850 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 154px;
}

.custom-shape-divider-bottom-1728033850 .shape-fill {
    fill: #FFFFFF;
}
